<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<script type="text/javascript" src="/assets/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/assets/bootstrap.css" />
	<link rel="stylesheet" href="/assets/main.css" />
</head>
<body>
	<h1 id="logo"><a href="/">武汉四友合金责任有限公司</a></h1>
	{{ content }}
</body>
</html>